---
# Copyright (C) SchedMD LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# Copyright 2024 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

- hosts: all
  become: yes

  module_defaults:
    ansible.builtin.apt:
      update_cache: true
      cache_valid_time: 3600

  vars:
    min_ansible_version: 2.7
    supported_architectures:
    - x86_64
    - aarch64
    supported_distributions:
    - CentOS
    - Rocky
    - RedHat
    - Debian
    - Ubuntu
    paths:
      install: /usr/local
      src: /usr/local/src
      etc: /usr/local/etc
      build: /tmp
      apps: /opt/apps
      modulefiles: /opt/apps/modulefiles
    install_cuda: true
    install_ompi: true
    install_lustre: true
    install_managed_lustre: false
    slurm_patch_files: []
    install_gcsfuse: true
    install_pmix: true
    install_pyxis: true
    allow_kernel_upgrades: true

  pre_tasks:
  - name: Install required Ansible collections
    command: ansible-galaxy collection install -r requirements.yml
    args:
      chdir: "{{ playbook_dir }}"
    run_once: true
    changed_when: false

  - name: Minimum Ansible Version Check
    assert:
      that: ansible_version.full is version_compare({{min_ansible_version}}, '>=')
      msg: Update Ansible to at least {{min_ansible_version}} to use this playbook.
  - name: Check Supported Distribution
    ansible.builtin.assert:
      that: ansible_distribution in supported_distributions
      fail_msg: |
        OS {{ ansible_distribution }} is not supported. Use one of these distributions:
          {{ supported_distributions }}
  - name: Check Supported Architectures
    ansible.builtin.assert:
      that: ansible_architecture in supported_architectures
      fail_msg: |
        Architecture {{ ansible_architecture }} is not supported. Use one of these architectures:
          {{ supported_architectures }}
  - name: Classify hosts by architecture
    group_by:
      key: arch_{{ ansible_architecture }}
  - name: Classify hosts by Linux distribution
    group_by:
      key: os_{{ ansible_distribution | lower }}
  - name: Check Support on CentOS
    when: ansible_distribution == "CentOS"
    ansible.builtin.assert:
      that: ansible_distribution_major_version is version('7', '==')
      fail_msg: |
        When building Slurm-GCP on CentOS, use release 7
  - name: Check Support on Rocky Linux
    when: ansible_distribution == "Rocky"
    ansible.builtin.assert:
      that: ansible_distribution_major_version is version('8', '==') or ansible_distribution_major_version is version('9', '==')
      fail_msg: |
        When building Slurm-GCP on Rocky Linux, use release 8 or 9
  - name: Check Support on RedHat Linux
    when: ansible_distribution == "RedHat"
    ansible.builtin.assert:
      that: ansible_distribution_major_version is version('8', '==') or ansible_distribution_major_version is version('9', '==')
      fail_msg: |
        When building Slurm-GCP on RedHat Linux, use release 8 or 9
  - name: Check Support on Debian
    when: ansible_distribution == "Debian"
    ansible.builtin.assert:
      that:
      - ansible_distribution_major_version is version('10', '>=')
      - ansible_distribution_major_version is version('12', '<=')
      fail_msg: |
        When building Slurm-GCP on Debian, use release 10 or above
  - name: Check Support on Ubuntu
    when: ansible_distribution == "Ubuntu"
    ansible.builtin.assert:
      that: ansible_distribution_version is version('20.04', '==') or ansible_distribution_version is version('22.04', '==') or ansible_distribution_version is version('24.04', '==')
      fail_msg: |
        When building Slurm-GCP on Ubuntu, use release 20.04/22.04/24.04
  - name: Check Lustre Install Options
    ansible.builtin.assert:
      that: not (install_lustre and install_managed_lustre)
      fail_msg: |
        install_lustre and install_managed_lustre are mutually exclusive Options
  - name: Check Managed Lustre Install Options
    when: install_managed_lustre
    ansible.builtin.assert:
      that: (ansible_distribution == "Ubuntu" and (ansible_distribution_version is version('20.04', '==') or ansible_distribution_version is version('22.04', '=='))) or (ansible_distribution == "Rocky" and (ansible_distribution_major_version is version('8', '==') or ansible_distribution_major_version is version('9', '==')))
      fail_msg: |
        Managed Lustre is only compatible with Rocky 8/9, Ubuntu 20.04, and Ubuntu 22.04
  - name: Freeze kernel before running playbook
    ansible.builtin.command:
      argv:
      - apt-mark
      - hold
      - "{{ item }}"
    loop: "{{ kernel_packages }}"
    when: ansible_os_family == "Debian"

  roles:
  - motd
  - common
  - role: kernel
    when: not install_managed_lustre
  - selinux
  - role: cuda
    vars:
      gpu: true
      cuda_bash_profile: true
      cuda_restart_node_on_install: false
      cuda_init_restart_service: false
      cuda_runfile_disable_nvidia_drm: true
    when:
    - install_cuda
    - ansible_architecture == "x86_64"
  - role: pmix
    when:
    - install_pmix
  - nfs
  - cgroups
  - munge
  - mariadb
  - libjwt
  - lmod
  - slurm
  - slurmcmd
  - role: pyxis
    when:
    - install_pyxis
  - role: ompi
    when: install_ompi
  - role: lustre
    when:
    - install_lustre
    - ansible_architecture == "x86_64"
  - role: managed_lustre
    when:
    - install_managed_lustre
    - ansible_architecture == "x86_64"
  - role: gcsfuse
    when:
    - install_gcsfuse
  - role: cloudagents
  - logrotate
  - python
  - role: ldap
    when: ansible_os_family != 'Debian'
  - scripts

  post_tasks:
  - name: Re-enable kernel upgrades by apt-get upgrade
    ansible.builtin.command:
      argv:
      - apt-mark
      - unhold
      - "{{ item }}"
    loop: "{{ kernel_packages }}"
    when:
    - ansible_os_family == "Debian"
    - allow_kernel_upgrades
