# Copyright (C) SchedMD LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

logging:
  receivers:
    slurm_daemon:
      type: files
      include_paths:
      - /var/log/slurm/slurmdbd.log
      - /var/log/slurm/slurmctld.log
      - /var/log/slurm/slurmd-*.log
      - /var/log/slurm/slurmrestd.log
      record_log_file_path: true
    slurm:
      type: files
      include_paths:
      - /var/log/slurm/suspend.log
      - /var/log/slurm/slurmsync.log
      - /var/log/slurm/resume.log
      record_log_file_path: true
    setup:
      type: files
      include_paths:
      - /slurm/scripts/setup.log
      record_log_file_path: true
  processors:
    parse_slurmlog:
      type: parse_regex
      field: message
      regex: '^\[(?<time>\S+)\] (?<message>((?<severity>(fatal|error|verbose|debug[0-9]?)):)?.*)$'
    parse_slurmlog2:
      type: parse_regex
      field: message
      regex: '^(?<time>\S+ \S+) (?<message>(?<severity>(CRITICAL|ERROR|WARNING|INFO|DEBUG))(\(\S+\))?:.*)$'
    add_cluster_info:
      type: modify_fields
      fields:
        labels."cluster_name":
          static_value: placeholder_clustername
        labels."hostname":
          static_value: placeholder_hostname
  service:
    pipelines:
      slurmlog_pipeline:
        receivers:
        - slurm_daemon
        processors:
        - parse_slurmlog
        - add_cluster_info
      slurmlog2_pipeline:
        receivers:
        - slurm
        - setup
        processors:
        - parse_slurmlog2
        - add_cluster_info
