# Copyright (C) SchedMD LLC.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

logging:
  receivers:
    slurmdbd:
      type: files
      include_paths:
      - /var/log/slurm/slurmdbd.log
      record_log_file_path: true
    slurmrestd:
      type: files
      include_paths:
      - /var/log/slurm/slurmrestd.log
      record_log_file_path: true
    slurmctld:
      type: files
      include_paths:
      - /var/log/slurm/slurmctld.log
      record_log_file_path: true
    slurmd:
      type: files
      include_paths:
      - /var/log/slurm/slurmd-*.log
      record_log_file_path: true
    slurm_resume:
      type: files
      include_paths:
      - /var/log/slurm/resume.log
      record_log_file_path: true
    slurm_suspend:
      type: files
      include_paths:
      - /var/log/slurm/suspend.log
      record_log_file_path: true
    slurm_sync:
      type: files
      include_paths:
      - /var/log/slurm/slurmsync.log
      record_log_file_path: true
    setup:
      type: files
      include_paths:
      - /slurm/scripts/setup.log
      record_log_file_path: true
  processors:
    parse_slurmlog:
      type: parse_regex
      field: message
      regex: '^\[(?<time>\S+)\] (?<message>((?<severity>(fatal|error|verbose|debug[0-9]?)):)?.*)$'
    parse_slurmlog2:
      type: parse_regex
      field: message
      regex: '^(?<time>\S+ \S+) (?<message>(?<severity>(CRITICAL|ERROR|WARNING|INFO|DEBUG))(\(\S+\))?:.*)$'
  service:
    pipelines:
      slurmlog_pipeline:
        receivers:
        - slurmdbd
        - slurmrestd
        - slurmctld
        - slurmd
        processors:
        - parse_slurmlog
      slurmlog2_pipeline:
        receivers:
        - slurm_resume
        - slurm_suspend
        - slurm_sync
        - setup
        processors:
        - parse_slurmlog2
